@import url('https://fonts.googleapis.com/css2?family=Bitter:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,500;1,600&display=swap');


/* Указываем box sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Убираем внутренние отступы */
ul[class],
ol[class] {
  padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul[class],
ol[class] {
  list-style: none;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
  max-width: 100%;
  display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
  margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
  font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}













  html {
	box-sizing: border-box;
}
*, *::before, *::after {
	box-sizing: inherit;
}

body {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	color: #000000;
}




/* Header styles stert */

/*.header {
	background-color: #000;
}*/

.container {
	display: flex;
	flex-direction: column;
	max-width: 1918px;
	width: 100%;
	position: relative;
	height: auto;
	margin: o auto;
	padding: 0 14px;
	z-index: 1;
}
.wrapper {
	display: flex;
	flex-direction: column;
	max-width: 1680px;
	width: 100%;
	position: relative;
	z-index: 1;
}

.header__wrapper {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: flex-end;
	padding-top: 43px;
}

.header__list {
	display: flex;
	flex-wrap: wrap;
}

.header__item {
	margin-right: 85px;
}

.header__item:last-child {
	margin-right: 0;
}

.header__link {
	font-family: 'Montserrat';
	font-style: normal;
	font-size: 33px;
	color: #AD03FD;
	text-decoration: none;
}


/* В навигации псевдоклассы отвечают за потемнение при наведении, 
смене при нажатии на TAB и потемнение при активности 
(когда ссылка работает пункт темнеет) */
.header__link:hover, .header__link:focus, .header__link:active {
	opacity: .75;
}


/* Header styles end */


/* Intro styles stert */

.intro {
	height: 970px;
	width: 1918px;
	background: url(../images/skachenie/intro-background.jpg) no-repeat center;
	background-size: cover;
	padding-top: 171px;
}

.intro__title {
	font-family: "Bitter";
	font-style: normal;
	font-weight: 300;
	font-size: 48px;
	line-height: 58px;
	color: #FFFFFF;
}

.intro__title__two {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 900;
	font-size: 105px;
	line-height: 126px;
	color: #FFFFFF;
}

.intro__subtitle {
	color: #FFFFFF;
	font-size: 35px;
	line-height: 145%;
	max-width: 450px;
	margin-bottom: 102px;
}

.intro__button {
	width: 315px;
	height: 80px;
	color: #302727;
	padding: 24px 60px;
	background-color: #FFFFFF;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	border-radius: 40px;
	cursor: pointer;
	/*margin-bottom: 346px;*/
}

.intro__button:hover {
	background-color: #dee0e0;
}


/* Intro styles end */

.about__us__h {
	margin-bottom: 57px;
}

.caption {
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	text-align: center;
	line-height: 130px;
 }


/*About us styles start*/

.about__us__titles {
	display: flex;
}

.about__us__title {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 50px;
}

.description__h {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 700;
	font-size: 32px;
	line-height: 50px;
	margin-left: 289px;
}

.description {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 50px;
	color: #000000;
	max-width: 780px;
	margin-bottom: 85px;
}

.description__we {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 400;
	font-size: 32px;
	line-height: 50px;
	color: #000000;
	max-width:558px;
	margin-left: 289px;
}

.about__us__photo {
	display: flex;
	justify-content: space-between;
	min-width: 1662px;
	margin-bottom: 130px;
}

/*About us styles end*/



/*Prices styles start*/
.price__h {
	margin-bottom: 101px;
}

.price__one {
	display: flex;
	justify-content: center;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
}

.price__two {
	display: flex;
	justify-content: center;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 500;
	font-size: 40px;
	line-height: 48px;
	color: #FFFFFF;
	margin-bottom: 130px;
}

.price__img {
	margin-right: 150px;
	margin-bottom: 140px;
}

.rec__price {
	position: absolute;
	width: 158px;
	height: 48px;
	left: 300px;
	top: 2900px;
}

.mix__price {
	position: absolute;
	width: 140px;
	height: 48px;
	left: 830px;
	top: 2900px;
}

.arrangement__price {
	position: absolute;
	width: 151px;
	height: 48px;
	left: 1330px;
	top: 2900px;
}

.promo__price {
	position: absolute;
	width: 137px;
	height: 48px;
	left: 310px;
	top: 3350px;
}

.key__song__price {
	position: absolute;
	width: 161px;
	height: 48px;
	left: 820px;
	top: 3350px;
}

.distribution__price {
	position: absolute;
	width: 140px;
	height: 48px;
	left: 1330px;
	top: 3350px;
}

/*Prices styles end*/



/*Form styles start*/

.form__all__h {
	position: relative;
	width: 651.71px;
	height: 77px;
	left: 0px;
	top: 0px;
	font-family: 'Bitter';
	font-style: normal;
	font-weight: 400;
	font-size: 64px;
	line-height: 77px;
	margin-bottom: 38px;
}

.form {
	display: flex;
	margin-left: 998px;
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
	line-height: 145%;
	letter-spacing: 0.13em;
}

.form__input {
	font-family: 'Montserrat';
	font-style: normal;
	font-weight: 600;
	font-size: 22px;
}

.form__group {
	position: relative;
	margin-bottom: 30px;
	margin-bottom: 40px;
}

.form__label {
	position: absolute;
	top: 0;
	z-index: -1;
	color: #302727;
	transition: 0.3s;
}

.form__input {
	width: 100%;
	padding: 0 0 10px 0;
	border-radius: 40px;
	background-color: transparent;
	outline: none;
	transition: 0.3s;	
}

.form__input:focus {
	border-bottom: 1px solid #302727;
}


/*Form styles end*/